.categories{
    margin-top: $mg-2;
    .categories_content{
        max-width: 1405px;
        width: 100%;
        margin: auto;
        .item{
            display: flex;
            align-items: center;
            margin: $mg-0 + 6;
            padding: $pd-1 + 5;
            border: 1px solid $color-black-dark;
            cursor: pointer;
            font-size: $fs-0;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
            opacity: 1;
            i{
                font-size: $fs-3 + 8;
                padding-right: $pd-2 - 4;
            }
            &:hover{
                box-shadow: 0 0 1px 1px $color-black-dark, 0 3px 1px 0 $color-black-dark;
            }
        }
    }
}