.job {
  background-color: $color-gray-5;
  padding-top: $pd-2;
  .job_content {
    width: 100%;
    margin: auto;
    display: flex;
    .job_row {
      @media (min-width: 768px) {
        flex-direction: row;
        padding-bottom: 22px;
      }
      display: flex;
      flex-direction: column;
      padding: 0 $pd-2;
      .block {
        flex-grow: 1;
        justify-content: center;
        padding: 28px 30px;
        .teaching {
          .text {
            max-width: 320px;
            text-align: center;
            h1 {
              @include text($color-black-light, $fs-2, $fw-bold-0);
            }
          }
        }
      }
    }
  }
  @include reponds-to("extra-large") {
    .job_content {
      width: 80%;
    }
  }
}
