.student {
  margin-top: $mg-2;
  .student_content {
    max-width: 1405px;
    width: 100%;
    margin: auto;
    position: relative;
    height: 100%;
    padding: 32px 16px;
    .card {
      overflow: hidden;
      .card-body {
        background-color: $bg-color;
        border-radius: 3px;
        box-shadow: 0 1px 3px 0 rgba(20,23,28,.15);
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 260px;
        padding: 32px;
        .info {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5em;
          align-items: center;
          display: flex;
          margin-bottom: 18px;
        }
        .image_student {
          @extend .background_cover;
          height: 64px;
          width: 64px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          .star {
            @include text($color-yellow, $fs-1 - 1, $fw-normal);
          }
        }
        .student-1 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/17241262_3f92.jpg");
        }
        .student-2 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/12747308_fa54.jpg");
        }
        .student-3 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/32569788_ca17.jpg");
        }
        .student-4 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/22683662_26dd_2.jpg");
        }
        .student-5 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/25234256_a0dd.jpg");
        }
        .student-6 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/16543918_6bdb.jpg");
        }
        .student_course {
          @include text($color-blue, $fs-0, $fw-normal);
        }
        .student_class {
          @include text($color-blue, $fs-0, $fw-bold-1);
        }
      }
    }
  }
}
